doctype html
head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title Mamba Bootstrap Template - Index
    meta(content='' name='descriptison')
    meta(content='' name='keywords')
    // Favicons
    link(href='images/favourite-heart-icon.png' rel='icon')
    link(href='images/favourite-heart-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900' rel='stylesheet')
    // Vendor CSS Files
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/icofont/icofont.min.css' rel='stylesheet')
    link(href='vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='vendor/animate.css/animate.min.css' rel='stylesheet')
    link(href='vendor/venobox/venobox.css' rel='stylesheet')
    link(href='vendor/aos/aos.css' rel='stylesheet')
    // Template Main CSS File
    link(href='stylesheets/style.css' rel='stylesheet')
    //
      =======================================================
      * Template Name: Mamba - v2.0.1
      * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ========================================================
// ======= Top Bar =======
section#topbar.d-none.d-lg-block
    .container.clearfix
        //.contact-info.float-left
        //    i.icofont-envelope
        //    a(href='DragonHacks2020@example.com') contact@example.com
        //    i.icofont-phone
        //    |  +1 5589 55488 55
        .social-links.float-right
            a.twitter(href='#')
                i.icofont-twitter
            a.facebook(href='#')
                i.icofont-facebook
            a.instagram(href='#')
                i.icofont-instagram
            a.skype(href='#')
                i.icofont-skype
            a.linkedin(href='#')
                i.icofont-linkedin
// ======= Header =======
header#header
    .container
        .logo.float-left
            h1.text-light
                a(href='index1.html')
                    span DinoLove
            // Uncomment below if you prefer to use an image logo
            // <a href="index1.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        nav.nav-menu.float-right.d-none.d-lg-block
            ul
                li.active
                    a(href='#header') Home
                li
                    a(href='#about') About Us
                li
                    a(href='#services') Services
                li
                    a(href='#team') Team
        // .nav-menu
// End Header
// ======= Hero Section =======
section#hero
    .hero-container
        #heroCarousel.carousel.slide.carousel-fade(data-ride='carousel')
            ol#hero-carousel-indicators.carousel-indicators
            .carousel-inner(role='listbox')
                // Slide 1
                .carousel-item.active(style="background-image: url('images/slide/slide-1-1.jpg');")
                    .carousel-container
                        .carousel-content.container
                            h2.animated.fadeInDown
                                | Welcome to
                                span DinoLove
                            p.animated.fadeInUp


                // Slide 2
                //.carousel-item(style="background-image: url('images/slide/slide-2.jpg');")
                //    .carousel-container
                //        .carousel-content.container
                //            h2.animated.fadeInDown Lorem Ipsum Dolor
                //            p.animated.fadeInUp
                //                | Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                //            a.btn-get-started.animated.fadeInUp.scrollto(href='#about') Read More
                // Slide 3
            //    .carousel-item(style="background-image: url('images/slide/slide-3.jpg');")
            //        .carousel-container
            //            .carousel-content.container
            //                h2.animated.fadeInDown Sequi ea ut et est quaerat
            //                p.animated.fadeInUp
            //                    | Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
            //                a.btn-get-started.animated.fadeInUp.scrollto(href='#about') Read More
            //a.carousel-control-prev(href='#heroCarousel' role='button' data-slide='prev')
            //    span.carousel-control-prev-icon.icofont-rounded-left(aria-hidden='true')
            //    span.sr-only Previous
            //a.carousel-control-next(href='#heroCarousel' role='button' data-slide='next')
            //    span.carousel-control-next-icon.icofont-rounded-right(aria-hidden='true')
            //    span.sr-only Next
// End Hero
main#main
    // ======= About Us Section =======
    section#about.about
        .container
            .row.no-gutters
                .col-lg-6.video-box
                    img.img-fluid(src='images/about.jpg' alt='')
                    a.venobox.play-btn.mb-4(href='https://www.youtube.com/watch?v=e5BFR-E-ae0' data-vbtype='video' data-autoplay='true')
                .col-lg-6.d-flex.flex-column.justify-content-center.about-content
                    .section-title
                        h2 About Us
                        p
                            | The Paleobiology Database (PBDB) is a non-governmental, non-profit public resource for paleontological data. It has been organized and operated by a multi-disciplinary, multi-institutional, international group of paleobiological researchers. Its purpose is to provide global, collection-based occurrence and taxonomic data for organisms of all geological ages, as well data services to allow easy access to data for independent development of analytical tools, visualization software, and applications of all types. The Database’s broader goal is to encourage and enable data-driven collaborative efforts that address large-scale paleobiological questions.
                    .icon-box(data-aos='fade-up' data-aos-delay='100')
                        .icon
                            i.bx.bx-fingerprint
                        h4.title
                            a(href='https://paleobiodb.org/#/resources') Where is this data used?
                        p.description
                            | The data is used in both web applications like Navigator, Insect Size, and Fossil Works. Also, there are mobile apps like Mancos that uses this database as well.
                    //.icon-box(data-aos='fade-up' data-aos-delay='100')
                    //    .icon
                    //        i.bx.bx-gift
                    //    h4.title
                    //        a(href='') Nemo Enim
                    //    p.description
                    //        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    // End About Us Section
    // ======= About Lists Section =======
    //section.about-lists
    //    .container
    //        .row.no-gutters
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up')
    //                span 01
    //                h4 Lorem Ipsum
    //                p
    //                    | Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up' data-aos-delay='100')
    //                span 02
    //                h4 Repellat Nihil
    //                p
    //                    | Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up' data-aos-delay='200')
    //                span 03
    //                h4  Ad ad velit qui
    //                p
    //                    | Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up' data-aos-delay='300')
    //                span 04
    //                h4 Repellendus molestiae
    //                p
    //                    | Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up' data-aos-delay='400')
    //                span 05
    //                h4 Sapiente Magnam
    //                p
    //                    | Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam
    //            .col-lg-4.col-md-6.content-item(data-aos='fade-up' data-aos-delay='500')
    //                span 06
    //                h4 Facilis Impedit
    //                p
    //                    | Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi
    // End About Lists Section
    // ======= Counts Section =======
    //section.counts.section-bg
    //    .container
    //        .row
    //            .col-lg-3.col-md-6.text-center(data-aos='fade-up')
    //                .count-box
    //                    i.icofont-simple-smile(style='color: #20b38e;')
    //                    span(data-toggle='counter-up') 232
    //                    p Happy Clients
    //            .col-lg-3.col-md-6.text-center(data-aos='fade-up' data-aos-delay='200')
    //                .count-box
    //                    i.icofont-document-folder(style='color: #c042ff;')
    //                    span(data-toggle='counter-up') 521
    //                    p Projects
    //            .col-lg-3.col-md-6.text-center(data-aos='fade-up' data-aos-delay='400')
    //                .count-box
    //                    i.icofont-live-support(style='color: #46d1ff;')
    //                    span(data-toggle='counter-up') 1,463
    //                    p Hours Of Support
    //            .col-lg-3.col-md-6.text-center(data-aos='fade-up' data-aos-delay='600')
    //                .count-box
    //                    i.icofont-users-alt-5(style='color: #ffb459;')
    //                    span(data-toggle='counter-up') 15
    //                    p Hard Workers
    // End Counts Section
    // ======= Services Section =======
    section#services.services
        //.container
        //    .section-title
        //        h2 Services
        //    .row
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up')
        //            .icon
        //                i.icofont-computer
        //            h4.title
        //                a(href='') Lorem Ipsum
        //            p.description
        //                | Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='100')
        //            .icon
        //                i.icofont-chart-bar-graph
        //            h4.title
        //                a(href='') Dolor Sitema
        //            p.description
        //                | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='200')
        //            .icon
        //                i.icofont-earth
        //            h4.title
        //                a(href='') Sed ut perspiciatis
        //            p.description
        //                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='300')
        //            .icon
        //                i.icofont-image
        //            h4.title
        //                a(href='') Magni Dolores
        //            p.description
        //                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='400')
        //            .icon
        //                i.icofont-settings
        //            h4.title
        //                a(href='') Nemo Enim
        //            p.description
        //                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        //        .col-lg-4.col-md-6.icon-box(data-aos='fade-up' data-aos-delay='500')
        //            .icon
        //                i.icofont-tasks-alt
        //            h4.title
        //                a(href='') Eiusmod Tempor
        //            p.description
        //                | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
        .container.text-center
            input#radius(type='text')
            button#clickme(href="/").button Find Dinos around you!
        .container
              .row.col-sm-12
                  h1 Dinosaurs
              .row
                #middle.col-sm-12
                  h2
                  .table-responsive
                    table#dtVerticalScrollExample.table.table-fixed.table-bordered.table-sm(cellspacing='0' width='100%')
                      thead
                        tr
                          th#occurance_id.th-sm ID
                          th#taxon_name.th-sm Taxon
                          th#latitude.th-sm Latitude
                          th#longitude.th-sm Longitude
                          th#early_age.th-sm Earliest Age
                          th#late_age.th-sm Latest Age
                          th#min_ma.th-sm Min Ma
                          th#max_ma.th-sm Max Ma
                          th#taxon_class.th-sm Class
                          th#taxon_order.th-sm Order
                          th#taxon_family.th-sm Family
                          th#taxon_genus.th-sm Genus
                          th#image.th-sm PNG
                      tbody#table_of_dinosaurs
                  br
                  br
              .row
                //#footer.col-sm-12
                //  | Made possible with the
                //  a(href='https://paleobiodb.org/#/' style='color:rgb(88, 30, 223);')
                //    | Paleobiology
                //    | Database

    // End Services Section
    // ======= Our Team Section =======
    section#team.team
        .container
            .section-title
                h2 Our Team
                p
                    | We love Dinos and we hope you all do too.
            .row
                .col-xl-3.col-lg-4.col-md-6(data-aos='fade-up')
                    .member
                        .pic
                            img.img-fluid(src='images/team/zach.jpg' alt='')
                        .member-info
                            h4 Zack Clarke
                            span Chief Executive Officer
                            .social
                                a(href='')
                                    i.icofont-twitter
                                a(href='')
                                    i.icofont-facebook
                                a(href='')
                                    i.icofont-instagram
                                a(href='')
                                    i.icofont-linkedin
                .col-xl-3.col-lg-4.col-md-6(data-aos='fade-up' data-aos-delay='100')
                    .member
                        .pic
                            img.img-fluid(src='images/team/Anu.png' alt='')
                        .member-info
                            h4 Anu O
                            span Data Analyst
                            .social
                                a(href='')
                                    i.icofont-twitter
                                a(href='')
                                    i.icofont-facebook
                                a(href='')
                                    i.icofont-instagram
                                a(href='')
                                    i.icofont-linkedin
                .col-xl-3.col-lg-4.col-md-6(data-aos='fade-up' data-aos-delay='200')
                    .member
                        .pic
                            img.img-fluid(src='images/team/victor.png' alt='')
                        .member-info
                            h4 Victor Phimphachanh
                            span Web Developer
                            .social
                                a(href='')
                                    i.icofont-twitter
                                a(href='')
                                    i.icofont-facebook
                                a(href='')
                                    i.icofont-instagram
                                a(href='')
                                    i.icofont-linkedin
                .col-xl-3.col-lg-4.col-md-6(data-aos='fade-up' data-aos-delay='300')
                    .member
                        .pic
                            img.img-fluid(src='images/team/lauren.jpg' alt='')
                        .member-info
                            h4 Lauren
                            span Javascript and Developer
                            .social
                                a(href='')
                                    i.icofont-twitter
                                a(href='')
                                    i.icofont-facebook
                                a(href='')
                                    i.icofont-instagram
                                a(href='')
                                    i.icofont-linkedin
    // End Our Team Section
// End #main
// ======= Footer =======
footer#footer
    //.footer-top
    //    .container
    //        .row
    //            .col-lg-3.col-md-6.footer-info
    //                h3 Mamba
    //                p
    //                    | A108 Adam Street
    //                    br
    //                    |               NY 535022, USA
    //                    br
    //                    br
    //                    strong Phone:
    //                    |  +1 5589 55488 55
    //                    br
    //                    strong Email:
    //                    |  info@example.com
    //                    br
    //                .social-links.mt-3
    //                    a.twitter(href='#')
    //                        i.bx.bxl-twitter
    //                    a.facebook(href='#')
    //                        i.bx.bxl-facebook
    //                    a.instagram(href='#')
    //                        i.bx.bxl-instagram
    //                    a.google-plus(href='#')
    //                        i.bx.bxl-skype
    //                    a.linkedin(href='#')
    //                        i.bx.bxl-linkedin
    //            .col-lg-2.col-md-6.footer-links
    //                h4 Useful Links
    //                ul
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Home
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') About us
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Services
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Terms of service
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Privacy policy
    //            .col-lg-3.col-md-6.footer-links
    //                h4 Our Services
    //                ul
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Web Design
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Web Development
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Product Management
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Marketing
    //                    li
    //                        i.bx.bx-chevron-right
    //                        a(href='#') Graphic Design
    //            .col-lg-4.col-md-6.footer-newsletter
    //                h4 Our Newsletter
    //                p Tamen quem nulla quae legam multos aute sint culpa legam noster magna
    //                form(action='' method='post')
    //                    input(type='email' name='email')
    //                    input(type='submit' value='Subscribe')
    .container
        .copyright
            | &copy; Copyright
            strong
                span Mamba
            | . All Rights Reserved
        .credits
            | Made possible with the
            a(href='https://paleobiodb.org/#/' style='color:rgb(88, 30, 223);')
            br
            | Paleobiology Database
            // All the links in the footer should remain intact.
            // You can delete the links only if you purchased the pro version.
            // Licensing information: https://bootstrapmade.com/license/
            // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
            br
            | Designed by
            a(href='https://bootstrapmade.com/') BootstrapMade
// End Footer
a.back-to-top(href='#')
    i.icofont-simple-up
// Vendor JS Files
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='vendor/jquery.easing/jquery.easing.min.js')
script(src='vendor/php-email-form/validate.js')
script(src='vendor/jquery-sticky/jquery.sticky.js')
script(src='vendor/venobox/venobox.min.js')
script(src='vendor/waypoints/jquery.waypoints.min.js')
script(src='vendor/counterup/counterup.min.js')
script(src='vendor/isotope-layout/isotope.pkgd.min.js')
script(src='vendor/aos/aos.js')
// Template Main JS File
script(src='javascripts/main.js')
script(src='javascripts/dino_data.js')
script(src='javascript/scripts.js')
| {\rtf1}
