doctype html
html
  head
    script(src="https://code.jquery.com/jquery-3.4.1.min.js",
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
      crossorigin="anonymous")
    title= title
    // Favicons
    link(href='images/favicon.png' rel='icon')
    link(href='images/apple-touch-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900' rel='stylesheet')
    // Vendor CSS Files
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/icofont/icofont.min.css' rel='stylesheet')
    link(href='vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='vendor/animate.css/animate.min.css' rel='stylesheet')
    link(href='vendor/venobox/venobox.css' rel='stylesheet')
    link(href='vendor/aos/aos.css' rel='stylesheet')
    // Template Main CSS File
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" ,crossorigin="anonymous")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
      script(src='vendor/jquery.easing/jquery.easing.min.js')
      script(src='vendor/php-email-form/validate.js')
      script(src='vendor/jquery-sticky/jquery.sticky.js')
      script(src='vendor/venobox/venobox.min.js')
      script(src='vendor/waypoints/jquery.waypoints.min.js')
      script(src='vendor/counterup/counterup.min.js')
      script(src='vendor/isotope-layout/isotope.pkgd.min.js')
      script(src='vendor/aos/aos.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      // Template Main JS File
      script(src='javascript/main.js')
